#lista-imagenes{
    column-count: 4;
}


.card{
    display: grid;
    justify-items: center;
    margin-top: 50px;
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 25px #ef93ff;
}