html{
  background-color: #4d9e8a;
 }
 .logo {
   display: flex;
   justify-content: center;
   background-color: #e0c886;
   border: 10px solid #24363b;
   align-items: center;
   margin : 25px;
 }
 
 .imagen {
   align-self: center;
   flex-shrink: 1;
   max-width: 30%;
 }
 
 .barra-navegación{
 background-color:#24363b;
 padding-block: 10px;
 margin : 50px;
 }
 
 .lista-imagenes{
     grid-auto-rows: auto;
     display: table-row;
 }
 
 .card {
     border: 1px solid #747474;
     background-color: #C2D1D1;
     padding: 10px;
     border-radius: 15px;
     margin: 10px;
     width: 250px;
     height: 400px; /* Altura fija para todas las tarjetas */
     display: inline-block;
     text-align: center;
     margin : 25px;
 }
 .card img {
   border-top-right-radius: 15px;
   border-top-left-radius: 15px;
   width: 100%; /* La imagen ocupa todo el ancho de la tarjeta */
   height: 75%; /* Altura fija para todas las imágenes */
   object-fit: cover; /* Ajusta la imagen para llenar la caja */
 }
   .card h2 {
     margin: 10px 0;
     font-size: 98%;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     color: #131414;
     
         
   }
 
   .card h3 { 
     margin: 10px 0;
     font-size: 90%;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     color: #695e40;
 
 
   }  
   
 .card h4 {
   margin : 5px 0;
   font-size: 100%;
   font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
 
 }  
 
  .firma {
   display : flex;
   color:rgb(183, 204, 223);
   justify-content: center;
   margin-top: 1%;
   padding-block: 10px;
   background-color: #24363b;
   margin : 25px;
 
    }
    .sortby {
     padding-block: 30px;
 }
